<div class="plot-area">
  <div
    id="chartContainer"
    class="plot-area__chart-container"
    [ngClass]="
      plotDataValid
        ? 'plot-area__chart-container'
        : 'plot-area__chart-container-hidden'
    "
  ></div>
  <ng-template #placeholder>
    <div class="plot-area__placeholder">
      <img src="assets/svg/DNA.svg" alt="diagram" />
    </div>
  </ng-template>
  <div
    *ngIf="plotData || !!(reRenderData$ | async).length; else placeholder"
    class="plot-area__save-plot"
  >
    <app-input
      [labelName]="'Plot name'"
      [ifSubmitted]="submitted"
      [formController]="chartNameControl"
      class="plot-area__save-plot-input"
    ></app-input>
    <button
      type="button"
      (click)="savePlot()"
      class="plot-area__save-plot-button"
    >
      Save
    </button>
    <app-alert-box
      [inputErrors]="chartNameControl.errors"
      [ifSubmitted]="submitted"
      class="plot-area__save-plot-alert"
    ></app-alert-box>
  </div>
</div>
