<div class="plot-area">  
     <div id="chartContainer" style="height: 370px; width: 90%; margin: 0 auto;" class="plot-area__chartContainer">
          <ng-template  #placeholder>
               <h2 class="plot-area__placeholder">Your plot will render here</h2>    
          </ng-template>
     </div>
     <div *ngIf="plotData || !!(reRenderData$ | async).length; else placeholder">
          <app-input [ifSubmitted]="submitted" [formController]="chartNameControl"></app-input>
          <app-alert-box [inputErrors]="chartNameControl.errors" [ifSubmitted]="submitted"></app-alert-box>
          <button type="button" (click)="savePlot()">Save plot</button>
     </div>
</div> 

   
