.nav__container{
    display: flex;
    width: 60vw;
    margin: auto;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
.nav__logotype{

}
.nav__element{

    text-decoration: none;
    color: #1e1e1e;
    font-size: 1.5rem;
}