@import "../../variables-and-mixins.scss";

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 92.5vh;
  width: 100%;
  @include if-size(large) {
    width: 70vw;
  }
}
.about__header {
  font-size: 2rem;
}
.about__header-title{
  color: $accent-color;
  margin: 0;
  padding: 0;
}
.about__paragraph {
  width: 75%;
  height: 55%;
  font-size: 1rem;
  line-height: 150%;
  @include if-size(medium) {
    font-size: 1.1rem;
  }
  @include if-size(large) {
    font-size: 1.2rem;
  }
}
