<section class="about">
  <h2 class="about__header">
    Hi, this is
    <h1 class="about__header-title">ATPercent</h1>
  </h2>
  <p class="about__paragraph">
    DNA sequences consist of four types of nucleotides (A/T/G/C). Differences in
    A/T and G/C content along the sequence have influence on its physicochemical
    properties. This app enables the user to check how A/T content changes along
    the given DNA sequence and to compare A/T content profiles between multiple
    sequences. App renders line plots based on data provided in the <a href="https://en.wikipedia.org/wiki/FASTA_format" class="about__paragraph-link">FASTA</a>  text
    file or on sequence's ID from <a href="https://www.ensembl.org/index.html" class="about__paragraph-link">ensembl</a> database. To start analyzing, simply choose
    new plot tab and enter the data drawing upon example diagram.
  </p>
</section>
