@import "../../presets.scss";

.about {
  display: flex;
  flex-direction: column;
  justify-content: end;
  @include if-size(medium) {
    justify-content: end;
  }
  @include if-size(large) {
    justify-content: center;
  }
  align-items: center;
  margin: 0 auto;
  height: 92.5vh;
  width: 100%;
  @include if-size(large) {
    width: 70vw;
  }
}
.about__header {
  margin-top: 6rem;
  font-size: 2rem;
}
.about__header-title {
  color: $accent-color;
  margin: 0;
  padding: 0;
  font-size: 2.6rem;
  @include if-size(medium) {
    font-size: 3rem;
  }
  @include if-size(large) {
    font-size: 3rem;
  }
}
.about__paragraph {
  width: 75%;
  height: 45%;
  font-size: 1rem;
  line-height: 150%;
  @include if-size(medium) {
    font-size: 1.1rem;
  }
  @include if-size(large) {
    font-size: 1.2rem;
  }
}
.about__paragraph-link{
  cursor:pointer;
  text-decoration: none;
  color: $strong-color;
}