<section class="about">
  <h2 class="about__header">Hi, this is <h1 class="about__header-title">ATPercent</h1> </h2>
  <p class="about__paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo diam
    pharetra, porta enim quis, dictum orci. Fusce sodales elementum dui.
    Pellentesque auctor purus congue augue imperdiet, vitae commodo diam
    suscipit. Aenean vitae laoreet lectus. Phasellus dignissim, turpis vitae
    ullamcorper consequat, dui erat eleifend sapien, vel molestie lacus elit et
    urna. Orci varius natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Praesent maximus quam mattis risus scelerisque, situuuuudasdasdasm.
  
  </p>
</section>
