@import "../../presets.scss";

.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 92.5vh;
  margin: 0 auto;
  width: 100%;
  @include if-size(large) {
    width: 70vw;
  }
}
.main-screen__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  @include if-size(mediumUp) {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1rem;
  }
}
.main-screen__form-element {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  margin-top: 1.1rem;
  @include if-size(mediumUp) {
    flex-basis: 9rem;
  }
}
.main-screen__form-select-element {
  text-align: center;
  text-align-last: center;
  option {
    text-align: left;
  }
  border: 0.125rem solid $light-color;
  box-shadow: 1px 1px 1px $light-color;
}
.main-screen__form-select-element:focus {
  border: 0.125rem solid $medium-color;
  outline: none;
}
.main-screen__form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.4375rem;
  padding: 0 1rem;
  background-color: $light-color;
  border: 0.125rem solid $light-color;
  box-shadow: 0.125rem 0.125rem 0.125rem $light-shadow;
  user-select: none;
}
.main-screen__form-button-container:hover {
  background-color: $medium-color;
  color: $whitish;
  border: 0.125rem solid $medium-color;
  box-shadow: 0.125rem 0.125rem 0.125rem $strong-color;
}
.main-screen__form-button-container:active {
  background-color: $strong-color;
  color: $whitish;
  border: 0.125rem solid $strong-color;
  box-shadow: inset -0.125rem -0.125rem 0.125rem $medium-color;
}
.main-screen__form-button-text {
  text-align: center;
}
.main-screen__form-onload-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 3.4375rem;
  height: 3.4375rem;
  border: 0.05rem dashed $light-shadow;
  background-color: $whitish;
  p {
    font-size: 0.6rem;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: $strong-color;
  }
}
.main-screen__form-spinner {
  display: inline-block;
  position: relative;
  width: 3.4375rem;
  height: 3.4375rem;
  text-align: center;
}
.main-screen__form-spinner:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 2.5rem;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  border: 1.7rem solid $accent-color;
  border-color: $accent-color transparent $accent-color transparent;
  -webkit-animation: main-screen__form-spinner 1.2s infinite;
  animation: main-screen__form-spinner 1.2s infinite;
}
@keyframes main-screen__form-spinner {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
app-alert-box {
  position: relative;
}
