<form [formGroup]="form" (ngSubmit)="submit()">
    <app-file-loader
        [labelName]="'Upload file'"
        [formController]="form.controls.seqFileContent">
    </app-file-loader>
    <app-alert-box 
        [errors]="form.controls.seqFileContent.errors" 
        [ifSubmitted]="submitted">
    </app-alert-box>
    <br>
    <app-input 
        [labelName]="'Window width (bp)'"
        [inputType]="'number'"
        [formController]="form.controls.window"
        [ifSubmitted]="submitted">
    </app-input>
    <app-alert-box 
        [errors]="form.controls.window.errors" 
        [ifSubmitted]="submitted">
    </app-alert-box>
    <br>
    <app-input 
        [labelName]="'Step size (bp)'"
        [inputType]="'number'"
        [formController]="form.controls.step"
        [ifSubmitted]="submitted">
    </app-input>
    <app-alert-box 
        [errors]="form.controls.step.errors" 
        [ifSubmitted]="submitted">
    </app-alert-box>
    <hr>
    <button type="submit">Generate Chart</button>
</form>
<hr>
<app-plot-area
    [sequenceData]="sequenceData"
    [valid]="valid">
</app-plot-area>

