/*variables*/
$small-screen-break: 425px;
$medium-screen-break: 768px;

$strong-color: #035e83;
$medium-color: #447c92;
$light-color: #bad8e1;
$light-background: #e4f6f8;
$light-shadow: #7baebd;
$accent-color: #efc050;
$whitish: #f8f9f9;
$blackish: #1e1e1e;
$textblock-font: "Montserrat", sans-serif;

/*Media queries*/
@mixin if-size($media) {
  @if $media == small {
    @media only screen and (max-width: $small-screen-break) {
      @content;
    }
  } @else if $media == medium {
    @media only screen and (min-width: $small-screen-break + 1) and (max-width: $medium-screen-break - 1) {
      @content;
    }
  } @else if $media == large {
    @media only screen and (min-width: $medium-screen-break) {
      @content;
    }
  } @else if $media == mediumUp {
    @media only screen and (min-width: $medium-screen-break) {
      @content;
    }
  }
}
