@import "../../presets.scss";

.plot-screen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  height: 92.5vh;
  width: 100%;
  @include if-size(large) {
    width: 70vw;
  }
}

.plot-screen__table {
  width: 100%;
  table-layout: auto;
  overflow: hidden;
  border-radius: 0.25rem;
  text-align: center;
  margin: 6rem 5vw;
  border-collapse: collapse;
  tbody {
    td {
      height: 4vh;
      border-bottom: 2px solid $light-color;
    }
    tr:nth-child(even) {
      background-color: $light-background;
    }
  }
  thead {
    background-color: $light-color;
    th {
      height: 6vh;
    }
  }
}

.plot-screen__button--remove p {
  color: $crimson;
  border-radius: 0.25rem;
  background-color: $mistyrose;
  line-height: 2rem;
  height: 2rem;
  width: 2rem;
}
.plot-screen__button--rerender p {
  color: $strong-color;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  background-color: $lightgreen;
  line-height: 2rem;
  height: 2rem;
  width: 2rem;
}
.plot-screen__placeholder {
  color: $accent-color;
  font-size: 2.5rem;
  text-align: center;
}
