<section class="plot-screen" *ngIf="plotsData.length">
  <table class="plot-screen__table">
    <thead>
      <tr>
        <th *ngFor="let header of tableHeaders">
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of plotsData">
        <td>
          {{ data.name }}
        </td>
        <td>
          <button
            type="button"
            (click)="reRender(data.plotsData)"
            class="plot-screen__button plot-screen__button--rerender"
          >
           <p>Re-render</p> 
          </button>
        </td>
        <td>
          <button
            type="button"
            (click)="removePlot(data.name)"
            class="plot-screen__button plot-screen__button--remove"
          >
            <p>X</p> 
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
