@import "../../variables-and-mixins.scss";

.plot-screen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  height: 92.5vh;
  width: 100%;
  @include if-size(large) {
    width: 70vw;
  }
}
.plot-screen__table {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  text-align: center;
  margin: 6rem auto;
  th {
    height: 10vh;
    background-color: $light-color;
    border-color: lightgray;
  }
  td {
    background-color: $whitish;
    .plot-screen__button {
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
  }
}
.plot-screen__button--remove:hover {
  background-color: mistyrose;
}
